.idea
*.iml
out
app/build
build
Google-LVL/.gradle/1.9/taskArtifacts/cache.properties
Google-LVL/.gradle/1.9/taskArtifacts/cache.properties.lock
Google-LVL/.gradle/1.9/taskArtifacts/fileHashes.bin
Google-LVL/.gradle/1.9/taskArtifacts/fileSnapshots.bin
Google-LVL/.gradle/1.9/taskArtifacts/outputFileStates.bin
Google-LVL/.gradle/1.9/taskArtifacts/taskArtifacts.bin
.gradle/1.9/taskArtifacts/cache.properties.lock
.gradle/1.9/taskArtifacts/fileHashes.bin
.gradle/1.9/taskArtifacts/fileSnapshots.bin
.gradle/1.9/taskArtifacts/outputFileStates.bin
.gradle/1.9/taskArtifacts/taskArtifacts.bin
.gradle/1.11/taskArtifacts/cache.properties
.gradle/1.11/taskArtifacts/cache.properties.lock
.gradle/1.11/taskArtifacts/fileHashes.bin
.gradle/1.11/taskArtifacts/fileSnapshots.bin
.gradle/1.11/taskArtifacts/outputFileStates.bin
.gradle/1.11/taskArtifacts/taskArtifacts.bin
.gradle/1.12/taskArtifacts/cache.properties
.gradle/1.12/taskArtifacts/cache.properties.lock
.gradle/1.12/taskArtifacts/fileHashes.bin
.gradle/1.12/taskArtifacts/fileSnapshots.bin
.gradle/1.12/taskArtifacts/outputFileStates.bin
.gradle/1.12/taskArtifacts/taskArtifacts.bin
com_crashlytics_export_strings.xml
.gradle
